---
---
<div class="bg-white rounded-lg shadow-lg overflow-hidden">
  <iframe 
    class="widget_preview_iframe" 
    frameborder="0" 
    allow="autoplay; encrypted-media" 
    allowfullscreen="" 
    scrolling="no" 
    src="https://www.feedspot.com/widgets/lookup/TP2Tf9a4fa99"
    style="width: 100%; height: 283px; border: none;"
  />
</div>

<style>
  .widget_preview_iframe {
    width: 100% !important;
    height: 283px !important;
    border: none !important;
  }
</style>